RewriteEngine On
# Não aplicar regra para arquivos ou diretórios reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redirecionar todas as requisições para index.php
RewriteRule ^ public/index.php [QSA,L]
